 .search-bar{
    position:absolute;
    margin-top: 1rem;
}

.limited-search-container .search-results{
    position: absolute;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .limited-search-container{
        width: 70%;
    }
}