:root {
    --antique-white: #FEF1DFff;
    --coral-pink: #F6A091ff;
    --ash-gray: #BFD3BDff;
    --cambridge-blue: #8FB6ABff;
    --melon: #FDC2AEff;
    --cambridge-blue-2: #82AFA5ff;
    --beige: #E6E9D4ff;
}

body {
    background-color: var(--antique-white);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.app-container {
    display: flex;
    min-height: 100vh;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movie-options-button {
    background-color: var(--cambridge-blue);
    color: black;
    border: none;
    padding: 10px 1em;
    border-radius: 25px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    text-align: center;
}

.movie-options-button:hover {
    background-color: var(--cambridge-blue-2);
    transform: translateY(-2px);
}

.movie-options-button:active {
    background-color: var(--cambridge-blue-2);
    transform: translateY(1px);
}

@media (max-width: 768px) {
    .content-container {
        width: -webkit-fill-available;
    }
}