:root {
    --antique-white: #FEF1DFff;
    --coral-pink: #F6A091ff;
    --ash-gray: #BFD3BDff;
    --cambridge-blue: #8FB6ABff;
    --melon: #FDC2AEff;
    --cambridge-blue-2: #82AFA5ff;
    --beige: #E6E9D4ff;
}

body {
    background-color: var(--antique-white);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.app-container {
    display: flex;
    min-height: 100vh;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

