.movie-grid {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 0 1rem;
}

.movie-tile {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: left;
    padding: 1rem;
}

.movie-tile-top{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.movie-tile:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.movie-tile img {
    width: 8rem;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}

.movie-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.movie-info h3 {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    color: #333;
}

.movie-info p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
    color: #666;
}

.genre p {
    font-style: italic;
    color: #888;
    font-size: 0.85rem;
}

.movies-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.movies-section-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 1rem;
}

.show-more{
    margin: 1rem 0; 
}

.movie-details {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: baseline;
}

.movie-details p {
  margin: 0.25rem 0;
}

.ratings ul {
  padding-left: 1rem;
  margin: 0;
}

.ratings li {
  list-style: disc;
  font-size: 0.95rem;
  margin-bottom: 2px;
}

.movie-actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    max-width: 12rem;
}

.movie-options-button {
    width: 100%;
}

.movie-details-part {
    width: 100%;
    border: 2px solid var(--cambridge-blue-2);
    border-radius: 1rem;
    padding: 0.5rem;
}

@media (max-width: 768px) {
    .show-more{
        margin: 1rem 0;
    }

    .movies-section {
        width: 100%;
        padding: 0 1rem;
    }

    .movie-grid {
        grid-template-columns: 95%;
    }

    .movies-section-header {
        margin: 0 3rem;
        padding-right: 2rem;
    }

    .movie-info {
        padding: 0 0 0 2rem;
    }
}

